body {
  margin: 0;
  padding: 0;
}
.iti {
  display: block !important;
  width: 100% !important;
}
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 500px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
@media (min-width: 1200px){

  .container {
    max-width: 1200px !important;
  } 
}
.article-section {
  @include breakpoint(sm) {
    margin-top: -470px;
  }
  @media (min-width: 1200px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl {
          max-width: 1300px;
      }
  }
  padding: 50px 0;
}
.twitt-wrap {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  .twitt {
      width: 100%;
      max-width: 549px;
      padding: 8px 15px;
      border-radius: 15px;
      border: 1px solid #ccd6dd;
  }
  .twitter-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  .twitter-person {
      display: flex;
      justify-content: flex-start;
      img {
          width: 100%;
          height: auto;
      }
  }
  .twitter-name {
      display: flex;
      flex-direction: column;
      p {
          margin: 0;
          padding-left: 10px;
      }
      .name {
          font-weight: bold;
          font-size: 14px;
      }
      .tag {
          font-weight: light;
          font-size: 14px;
      }
  }
  .twitter-body {
      p {
          font-size: 16px;
          margin-bottom: 40px;
      }
      span {
          color: #2caae1;
      }
  }
  .twitter-top-footer {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccd6dd;
      align-items: center;
      padding-bottom: 7px;
      p {
          font-weight: 400;
          font-size: 15px;
          color: #8996a2;
          margin-bottom: 0;
      }
      img {
          align-self: center;
      }
  }
  .twitter-bottom-footer {
      display: flex;
      justify-content: flex-start;
      padding-top: 7px;
      p {
          font-weight: 400;
          font-size: 15px;
          color: #8996a2;
          margin-bottom: 0;
      }
      .likes {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
              margin-right: 10px;
              align-self: center;
          }
      }
      .other {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
          img {
              margin-right: 10px;
              align-self: center;
          }
      }
  }
}
.sticky-wrap {
  padding-top: 50px;
  @include breakpoint(lg) {
    padding-top: 20px;
    padding-bottom: 30px;
   }
}
.sticky-form {
  position: sticky;
  top: 0;
  width: 90%;
  // margin-top: -650px;
  margin: -810px auto 0 auto;
  z-index: 111111111;
  @include breakpoint(lg) {
    margin-top: 0;
    margin-bottom: 30px;
   }
}
.article {
  font-family: 'Montserrat', sans-serif;
  padding-right: 20px;
  
  @include breakpoint(lg) {
    text-align: center;
   }
  h3 {
      font-size: 28px;
      font-weight: bold;

  }
  .second-heading {
    font-size: 22px !important;
}
  p {
      font-size: 18px;
      opacity: 0.9;
  }
}
.form-wrap {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 1px 16px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 16px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 16px -6px rgba(0,0,0,0.75);
  @include breakpoint(sm) {
    margin-top: 0;
   }
  .form-header {
    background: #F1F1F1;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .form-body {
    padding: 20px 20px 5px 20px;
  }
  #submitBtn {
    background: #000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    border: none;
    outline: none;

    &:hover {
      transform: scale(1.05);
    }
    &:disabled {
      transform: none;
      background-color: rgba(0, 0, 0, .1);
    }
  }
  small {
    font-size: 12px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .1)), url("../images/hero-section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  height: 85vh;
  position: relative;
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif;
  @include breakpoint(sm) {
   padding-bottom: 50px;
  }

  &:after {
    content: '';
    position: absolute;
    background-image: url("../images/Vector-1024x1000.png");
    height: 110%;
    width: 100%;
    background-position: right bottom;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    z-index: 0;
    @include breakpoint(sm) {
      display: none;
    }
  }
  .row {
    position: relative;
    z-index: 10;
  }
  h1 {
    font-size:50px;
    color: #FFF;
    font-weight: 600;
    @include breakpoint(sm) {
      text-align: center;
      font-size: 32px;
    }
    span {
      color: #FE9802;
      font-size: 60px;
      font-weight: 700;
    }
  }
  p {
    font-size: 26px;
    color: #FFF;
    @include breakpoint(sm) {
      font-size: 16px;
      text-align: center;
    }
  }
  .btn {
    color: #FFF;
    border-radius: 30px;
    border: 2px solid #FFF;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    transition: 100ms;
    @include breakpoint(sm) {
     display: block;
    }
    &:hover {
      color: #0074db;
      border-color: #0074db;
    }
  }
}
.content {
  padding: 0 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  .waves {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 350px;
    z-index: 0;
  }
  @media (min-width: 1200px){

    .container {
      max-width: 1300px !important;
    }
  }
  .cards {
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
    .box {
      @include breakpoint(sm) {
       text-align: center;
      }
      img {
        margin-bottom: 20px;
      }
      h6 {
        font-weight: 700;
        font-size: 17px;
      }
      p {
        opacity: 0.7;
      }
    }
  }
  .calc {
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
    h2 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom:50px;
    }
    .calculator {
      .col-md-6 {
        padding: 20px 50px 20px 50px;
        @include breakpoint(sm) {
          width: 90%;
          margin: 0 auto;
          border-radius: 30px !important;
          margin-bottom: 20px;
          text-align: center;
        }
      }
      .left {
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        span {
          font-size: 38px;
          color: #000;
          margin-bottom: 20px;
          font-weight: 700;
          text-align: center;
        }
          input {
            border-radius: 30px;
            margin-bottom: 50px;
          }
          .submit_calc {
            background: #FE9802;
            color: #FFF;
            margin-bottom: 0;
            padding: 7px 40px;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            width: fit-content;
            border-radius: 30px;
            margin: 0 auto;
            transition: 300ms;
            &:hover {
              transform: scale(1.1);
            }
            @include breakpoint(sm) {
              // width: 50%;
              margin: 0 auto;
            }
          }
          .form-control {
            height: 50px;
            margin: 0 auto 50px auto;
            text-align: center;
            font-weight: bold;
          }
      }
      .right {
        background: #FE9802;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
      
        span {
          font-size: 38px;
          color: #fff;
          margin-bottom: 20px;
          font-weight: 700;
          text-align: center;
          display: block;
        }
        .form-control {
          border-radius: 30px;
         
          margin: 0 auto 0 auto;
          height: 50px;
          text-align: center;
          font-weight: bold;
        }
       
        p {
          font-weight: 700;
          text-align: center;
          color: #FFF;
        }
      }
    }
  }
  .steps {
    position: relative;
    z-index: -1;
    .btn {
      background: #054573;
      color: #FFF;
      border-radius: 30px;
      padding: 6px 30px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin-left: 40px;
      @include breakpoint(sm) {
        margin: 0 auto;
        width: 100%;
      }
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom:70px;
    }
    .img {
      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
      img {
        width: 100%;
      }
    }
    .stp {
      padding-right: 50px;
      @include breakpoint(sm) {
        padding-right: 15px;
      }
      .card {
        border: none;
        @include breakpoint(sm) {
          text-align: center;
        }
      }
      h6 {
        font-weight: 700;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
#carouselExampleDark {
  min-height: 400px;
  @include breakpoint(sm) {

  }
  .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
  }
}
.slider {
  padding-top: 200px;
  position: relative;
  z-index: 2;
  .hyphen {
    position: absolute;
    top: 100px;
    left: 10%;
    width: 100%;
    max-width: 150px;
  }
  img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
  }
}
footer {
  @include breakpoint(sm) {
    padding: 20px;
  }
  @media (min-width: 1200px){

    .container {
      max-width: 1300px !important;
    }
  }
  font-family: 'Montserrat', sans-serif;
  background: #054573;
  padding: 50px 0;
  .col-md-8 {
    padding-left: 0 !important;
  }
  .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(sm) {
     justify-content: center;
     padding-bottom: 20px;
     }
  }
  .btn {
    background: #FE9802;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 30px;
    color: #FFF;
    font-weight: 700;
    
  }
  p {
    color: #FFF;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 30px;
  }
  h6 {
    color: #FFF;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .col-md-3 {
    opacity: 0.5;
    span {
      font-size: 12px;
      color: #FFF;
    }
    padding-left: 0 !important;
    padding-top: 15px;
  }
  .col-md-9 {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    @include breakpoint(sm) {
      flex-direction: column;
      text-align: center;
    }

    span {
      margin-left: 20px;
      font-weight: 700;
      color: #FFF;
      @include breakpoint(sm) {
        margin-left: 0;
      }
    }
  }
  .addressCol {
    padding-left: 0 !important;
  }
  .address {
    font-size: 12px;
    color: #FFF;
    opacity: 0.5;
    font-weight: 400;
  }
}