body {
  margin: 0;
  padding: 0; }

.iti {
  display: block !important;
  width: 100% !important; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important; } }

.article-section {
  padding: 50px 0; }
  @media (max-width: 768px) {
    .article-section {
      margin-top: -470px; } }
  @media (min-width: 1200px) {
    .article-section .container, .article-section .container-lg, .article-section .container-md, .article-section .container-sm, .article-section .container-xl {
      max-width: 1300px; } }

.twitt-wrap {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px; }
  .twitt-wrap .twitt {
    width: 100%;
    max-width: 549px;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1px solid #ccd6dd; }
  .twitt-wrap .twitter-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px; }
  .twitt-wrap .twitter-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .twitt-wrap .twitter-person img {
      width: 100%;
      height: auto; }
  .twitt-wrap .twitter-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .twitt-wrap .twitter-name p {
      margin: 0;
      padding-left: 10px; }
    .twitt-wrap .twitter-name .name {
      font-weight: bold;
      font-size: 14px; }
    .twitt-wrap .twitter-name .tag {
      font-weight: light;
      font-size: 14px; }
  .twitt-wrap .twitter-body p {
    font-size: 16px;
    margin-bottom: 40px; }
  .twitt-wrap .twitter-body span {
    color: #2caae1; }
  .twitt-wrap .twitter-top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ccd6dd;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 7px; }
    .twitt-wrap .twitter-top-footer p {
      font-weight: 400;
      font-size: 15px;
      color: #8996a2;
      margin-bottom: 0; }
    .twitt-wrap .twitter-top-footer img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
  .twitt-wrap .twitter-bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 7px; }
    .twitt-wrap .twitter-bottom-footer p {
      font-weight: 400;
      font-size: 15px;
      color: #8996a2;
      margin-bottom: 0; }
    .twitt-wrap .twitter-bottom-footer .likes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .twitt-wrap .twitter-bottom-footer .likes img {
        margin-right: 10px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; }
    .twitt-wrap .twitter-bottom-footer .other {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 15px; }
      .twitt-wrap .twitter-bottom-footer .other img {
        margin-right: 10px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; }

.sticky-wrap {
  padding-top: 50px; }
  @media (max-width: 1200px) {
    .sticky-wrap {
      padding-top: 20px;
      padding-bottom: 30px; } }

.sticky-form {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 90%;
  margin: -810px auto 0 auto;
  z-index: 111111111; }
  @media (max-width: 1200px) {
    .sticky-form {
      margin-top: 0;
      margin-bottom: 30px; } }

.article {
  font-family: 'Montserrat', sans-serif;
  padding-right: 20px; }
  @media (max-width: 1200px) {
    .article {
      text-align: center; } }
  .article h3 {
    font-size: 28px;
    font-weight: bold; }
  .article .second-heading {
    font-size: 22px !important; }
  .article p {
    font-size: 18px;
    opacity: 0.9; }

.form-wrap {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 16px -6px rgba(0, 0, 0, 0.75); }
  @media (max-width: 768px) {
    .form-wrap {
      margin-top: 0; } }
  .form-wrap .form-header {
    background: #F1F1F1;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .form-wrap .form-body {
    padding: 20px 20px 5px 20px; }
  .form-wrap #submitBtn {
    background: #000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    border: none;
    outline: none; }
    .form-wrap #submitBtn:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .form-wrap #submitBtn:disabled {
      -webkit-transform: none;
              transform: none;
      background-color: rgba(0, 0, 0, 0.1); }
  .form-wrap small {
    font-size: 12px; }
  .form-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

#hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 0.1))), url("../images/hero-section-bg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.1)), url("../images/hero-section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  height: 85vh;
  position: relative;
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 768px) {
    #hero {
      padding-bottom: 50px; } }
  #hero:after {
    content: '';
    position: absolute;
    background-image: url("../images/Vector-1024x1000.png");
    height: 110%;
    width: 100%;
    background-position: right bottom;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    z-index: 0; }
    @media (max-width: 768px) {
      #hero:after {
        display: none; } }
  #hero .row {
    position: relative;
    z-index: 10; }
  #hero h1 {
    font-size: 50px;
    color: #FFF;
    font-weight: 600; }
    @media (max-width: 768px) {
      #hero h1 {
        text-align: center;
        font-size: 32px; } }
    #hero h1 span {
      color: #FE9802;
      font-size: 60px;
      font-weight: 700; }
  #hero p {
    font-size: 26px;
    color: #FFF; }
    @media (max-width: 768px) {
      #hero p {
        font-size: 16px;
        text-align: center; } }
  #hero .btn {
    color: #FFF;
    border-radius: 30px;
    border: 2px solid #FFF;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    -webkit-transition: 100ms;
    transition: 100ms; }
    @media (max-width: 768px) {
      #hero .btn {
        display: block; } }
    #hero .btn:hover {
      color: #0074db;
      border-color: #0074db; }

.content {
  padding: 0 0;
  font-family: 'Montserrat', sans-serif;
  position: relative; }
  .content .waves {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 350px;
    z-index: 0; }
  @media (min-width: 1200px) {
    .content .container {
      max-width: 1300px !important; } }
  .content .cards {
    margin-bottom: 100px;
    position: relative;
    z-index: 2; }
    @media (max-width: 768px) {
      .content .cards .box {
        text-align: center; } }
    .content .cards .box img {
      margin-bottom: 20px; }
    .content .cards .box h6 {
      font-weight: 700;
      font-size: 17px; }
    .content .cards .box p {
      opacity: 0.7; }
  .content .calc {
    margin-bottom: 100px;
    position: relative;
    z-index: 2; }
    .content .calc h2 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px; }
    .content .calc .calculator .col-md-6 {
      padding: 20px 50px 20px 50px; }
      @media (max-width: 768px) {
        .content .calc .calculator .col-md-6 {
          width: 90%;
          margin: 0 auto;
          border-radius: 30px !important;
          margin-bottom: 20px;
          text-align: center; } }
    .content .calc .calculator .left {
      background: #FFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; }
      .content .calc .calculator .left span {
        font-size: 38px;
        color: #000;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center; }
      .content .calc .calculator .left input {
        border-radius: 30px;
        margin-bottom: 50px; }
      .content .calc .calculator .left .submit_calc {
        background: #FE9802;
        color: #FFF;
        margin-bottom: 0;
        padding: 7px 40px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 30px;
        margin: 0 auto;
        -webkit-transition: 300ms;
        transition: 300ms; }
        .content .calc .calculator .left .submit_calc:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
        @media (max-width: 768px) {
          .content .calc .calculator .left .submit_calc {
            margin: 0 auto; } }
      .content .calc .calculator .left .form-control {
        height: 50px;
        margin: 0 auto 50px auto;
        text-align: center;
        font-weight: bold; }
    .content .calc .calculator .right {
      background: #FE9802;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 9px -2px rgba(0, 0, 0, 0.75); }
      .content .calc .calculator .right span {
        font-size: 38px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center;
        display: block; }
      .content .calc .calculator .right .form-control {
        border-radius: 30px;
        margin: 0 auto 0 auto;
        height: 50px;
        text-align: center;
        font-weight: bold; }
      .content .calc .calculator .right p {
        font-weight: 700;
        text-align: center;
        color: #FFF; }
  .content .steps {
    position: relative;
    z-index: -1; }
    .content .steps .btn {
      background: #054573;
      color: #FFF;
      border-radius: 30px;
      padding: 6px 30px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin-left: 40px; }
      @media (max-width: 768px) {
        .content .steps .btn {
          margin: 0 auto;
          width: 100%; } }
    .content .steps h2 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 70px; }
    @media (max-width: 768px) {
      .content .steps .img {
        margin-bottom: 20px; } }
    .content .steps .img img {
      width: 100%; }
    .content .steps .stp {
      padding-right: 50px; }
      @media (max-width: 768px) {
        .content .steps .stp {
          padding-right: 15px; } }
      .content .steps .stp .card {
        border: none; }
        @media (max-width: 768px) {
          .content .steps .stp .card {
            text-align: center; } }
      .content .steps .stp h6 {
        font-weight: 700; }
      .content .steps .stp p {
        font-size: 14px; }

#carouselExampleDark {
  min-height: 400px; }
  #carouselExampleDark .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto; }

.slider {
  padding-top: 200px;
  position: relative;
  z-index: 2; }
  .slider .hyphen {
    position: absolute;
    top: 100px;
    left: 10%;
    width: 100%;
    max-width: 150px; }
  .slider img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto; }

footer {
  font-family: 'Montserrat', sans-serif;
  background: #054573;
  padding: 50px 0; }
  @media (max-width: 768px) {
    footer {
      padding: 20px; } }
  @media (min-width: 1200px) {
    footer .container {
      max-width: 1300px !important; } }
  footer .col-md-8 {
    padding-left: 0 !important; }
  footer .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 768px) {
      footer .col-md-4 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 20px; } }
  footer .btn {
    background: #FE9802;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 30px;
    color: #FFF;
    font-weight: 700; }
  footer p {
    color: #FFF;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 30px; }
  footer h6 {
    color: #FFF;
    margin-bottom: 20px;
    font-weight: 500; }
  footer .col-md-3 {
    opacity: 0.5;
    padding-left: 0 !important;
    padding-top: 15px; }
    footer .col-md-3 span {
      font-size: 12px;
      color: #FFF; }
  footer .col-md-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px; }
    @media (max-width: 768px) {
      footer .col-md-9 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }
    footer .col-md-9 span {
      margin-left: 20px;
      font-weight: 700;
      color: #FFF; }
      @media (max-width: 768px) {
        footer .col-md-9 span {
          margin-left: 0; } }
  footer .addressCol {
    padding-left: 0 !important; }
  footer .address {
    font-size: 12px;
    color: #FFF;
    opacity: 0.5;
    font-weight: 400; }
/*# sourceMappingURL=style.css.map */