/* ====================
# UTILITIES: COLORS
==================== */

// Color system
$white: #fff !default;
$black: #000 !default;
$gray: #777 !default;
$blue: #3f9adb !default;
$red: #ff0000 !default;

$primary: $blue !default;
$secondary: $black !default;

/* ====================
# BASE: FONTS
==================== */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-face($font-family, $file-name, $file-path, $weight, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url('#{$file-path}.eot');
		src: local('#{$file-name}'),
		url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$file-path}.woff') format('woff'),
		url('#{$file-path}.ttf') format('truetype');
	}
}

$reg_family: 'OpenSans';
$f_path: '../font/';

@include font-face($reg_family, $reg_family + '-Light', $f_path + $reg_family + '-Light', 300);
@include font-face($reg_family, $reg_family + '-Regular', $f_path + $reg_family + '-Regular', 400);
@include font-face($reg_family, $reg_family + '-Bold', $f_path + $reg_family + '-Bold', 700);

/* ====================
# BASE: GENERAL
==================== */

.popup-register,
.reg-window {
	* {
		font-family: $reg_family;
	}

	h2,
	h3,
	p {
		margin: 0;
		padding: 0;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
	}

	a,
	button {
		cursor: pointer;
		outline: none;
		transition-property: color, background-color, border, box-shadow;
		transition-duration: .4s;
		transition-timing-function: linear;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}

/* ====================
# COMPONENTS: INPUTS
==================== */

.reg-window {

	/* CHECKBOX */

	input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.reg-checkbox-label {
		display: block;
		position: relative;
		padding-left: 34px;
		margin: 20px 0;
		cursor: pointer;
		text-align: left;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover input~.reg-checkmark {
			background-color: transparent;
		}

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			top: 5px;
			left: 0;
			height: 18px;
			width: 18px;

			&:checked~.reg-checkmark {
				background-color: $blue;
				border: none;

				&:after {
					display: block;
				}
			}
		}
	}

	.reg-checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: transparent;
		border: 1px solid $blue;
		border-radius: 4px;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 7px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid $white;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

/* ====================
# Global styles
==================== */

/* Register modal window */

// $header-height: 86px;
.reg-window {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000001;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: $white;
	&-close {
		font-size: 30px;
		color: $black;
		opacity: .5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
	}
}


.show {
	display: block;
}

.hide {
	display: none;
}


/* Register modal window */

.reg-window {
	&-inner {
		// height: calc(100% - #{$header-height});
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-header {
		padding: 20px 50px;
		border-bottom: 1px solid rgba($gray, .5);

		&-logo {
			width: 160px;
			height: 45px;
		}
	}

	.reg-list-item {
		display: flex;
		align-items: center;
		justify-content: start;
		margin: 15px 0px;

		&-icon {
			max-width: 60px;
			width: 100%;
			margin-right: 30px;

			svg {
				height: 60px;
			}
		}

		&-txt {
			font-size: 18px;
			overflow-wrap: anywhere;
		}
	}

	.reg-gif-img {
		width: 75px;
		margin-left: -5px;
	}

	.reg-left {
		color: $gray;

		&-title {
			font-size: 23px;
			padding-bottom: 30px;
			font-weight: 300;
			line-height: 1.5;
		}

		&-bottom-text {
			margin-top: 30px;
			font-size: 16px;
			font-weight: 300;
		}
	}

	.reg-left,
	.reg-right {
		padding: 40px;
	}

	.reg-form {
		&-wrapper {
			padding: 35px 30px;
			display: block;
			background-color: $white;
			box-shadow: -1px 5px 23px rgba($black, .1);
		}

		&-title {
			font-size: 22px;
			margin-bottom: 10px;
			color: lighten($black, 13%);
			letter-spacing: -0.5px;
			font-weight: 300;
			line-height: 1.5;
		}
	}

	#reg-form-btn {
		border-radius: 4px;
		width: 100%;
		background-color: $blue;
		color: $white;
		border: 1px solid $blue;
		font-size: 18px;
		padding: 10px 28px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		&:disabled {
			background-color: rgba($blue, .5);
			border-color: rgba($blue, .5);
		}
	}

	.reg-conditions {
		font-size: 16px;
		font-weight: 400;
	}

	.reg-input-field {
		width: 100%;
		font-size: 16px;
		color: $gray;
		line-height: 22px;
		outline: none;
		padding-bottom: 11px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid darken($white, 13%);
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.reg-input-wrapper,
	.custom-checkbox-label {
		margin-top: 30px;
	}

	.reg-error-msg {
		color: $red;
		font-size: 12px;
		margin-top: 10px;
	}

	.reg-left-title,
	.reg-form-title {
		text-align: center;
	}

	.iti--allow-dropdown .iti__flag-container,
	.iti--separate-dial-code .iti__flag-container {
		bottom: 8px;
	}

	.iti--separate-dial-code .iti__selected-flag {
		background-color: transparent;
	}

	.iti.iti--allow-dropdown {
		width: 100%;
	}

	@media screen and (max-width: 991px) {
		&-inner {
			all: unset;
		}

		.reg-left-bottom-text {
			padding-left: 0;
			text-align: center;
		}
	}

	@media screen and (max-width: 767px) {
		.reg-left {
			order: 1;
		}
	}

	@media screen and (max-width: 575px) {
		&-header{
			padding: 20px;
		}

		.reg-right {
			padding: 40px 20px;
		}
	}
}

/* Register popup */

.popup-register {
	position: fixed;
	left: 50px;
	bottom: -255px;
	width: 270px;
	min-height: 205px;
	z-index: 1000000000;
	background: $white;
	font-family: $reg_family;
	box-shadow: 0px 2px 7px rgba($black, 0.25);
	border-radius: 19px;
	opacity: 0;
	transition: all 0.8s linear;
	padding: 22px 18px;

	&.show {
		opacity: 1;
		bottom: 50px;
	}

	img {
		width: 20px;
		margin: 0 5px;
	}

	.user-info {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		font-family: inherit;
		color: rgba($black, .8);

		.time-ago {
			white-space: nowrap;
		}

		.verified {
			white-space: nowrap;
			margin-top: 12px;
		}

		.register-now {
			margin: 12px 0 14px 0;
			font-weight: 700;
			font-size: 16px;
		}

		.btn-register {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 14px 8px;
			width: 218px;
			height: 40px;
			font-weight: 900;
			font-size: 16px;
			color: $white;
			font-family: inherit;
			background-color: darken($gray, 24%);
			border-radius: 70px;
			border: none;

			&:hover {
				background-color: darken($gray, 1%);
			}
		}
	}
}

@media (max-width: 767px) {
	.popup-register {
		display: none;
	}
}